<script>
  document.addEventListener("connect()", function () {
    const select = document.getElementById("collection-select");
  });
</script>
<%= form_with model: @project, url:sponsor_dashboard_update_path do |form| %>
  <div>
    <%= render partial: "shared/edit_project_form", locals: {project: @project, form: form} %><br>
  </div>
<% end %>
