<!DOCTYPE html>
<html lang="en">
<body>
 <form>
  <label for="pname">Project Name:</label><br>
  <input type="text" id="pname" name="pname"><br>
  <label for="organization">Organization:</label><br>
  <input type="text" id="organization" name="organization"><br>
  <label for="sdesc">Short Description:</label><br>
  <input type="text" id="sdesc" name="sdesc"><br>
  <label for="ldesc">Long Description:</label><br>
  <input type="text" id="ldesc" name="ldesc"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>
