<script>
  document.addEventListener("connect()", function () {
    const select = document.getElementById("collection-select");
  });
</script>
<%= form_with model: @user, url:student_dashboard_edit_profile_path do |form| %>
  <div>
    <%= render partial: "shared/edit_user_form", locals: {user: @user, form: form} %><br>
  </div>
<% end %>
